<% provide :title, @club.name %> 
<div class="card card-body">
  <div class="float-left">
    <h2 class="lato-title" style="display: inline">
      <%= @club.name %>
    </h2>
    <div class="float-right">
      <% if logged_in? %>
        <% if current_user == @club.president %>
          <%= link_to "Edit Club", edit_club_url(@club), class: 'text-warning' %>
        <% end %> 
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="card card-body">
      <h5 class="card-title">Description</h5>
      <hr>
      <%= markdown(@club.description).html_safe %> 
    </div>
    <div class="card card-body">
      <h5 class="card-title">Upcoming Events</h5>
      <hr>
      <ul>
        <% @club.events.each do |event| %>
          <li><%= link_to event.title, event %></li>
        <% end %> 
      </ul>
    </div>
  </div>
  <div class="col-md-5">
    <%= render 'clubs/user_list' %>
  </div>
</div>
