<li class="list-group-item">
  <div class="row">
    <div class="col-sm-11">
      <h6><%= link_to announcement.title, announcement %></h6>
      <small>
        Posted by 
        <%= link_to User.find(announcement.user_id).name, User.find(announcement.user_id), class: "text-secondary" %> 
        <%= distance_of_time_in_words(announcement.created_at.to_time, Time.now) + " ago" %> 
          
      </small>
      <%= render 'shared/class_year_tags', object: announcement %>

    </div>
  <% if logged_in? %>
    <% if current_user.admin? %>
      <div class="col-sm-1">
        <div class="float-right">
          <%= link_to "Edit", edit_announcement_path(announcement), class: "text-warning"%><br>
          <%= link_to "Delete", announcement_path(announcement), method: :delete, class: "text-danger", 
                  data: {confirm: "Are you sure you want to do this?"} %>
        </div>
      </div>
    <% end %>
  <% end %> 
  </div>
</li>