<%= content_tag :li,  class: "list-group-item " + get_background_color_for_partial(announcement),
                      id: announcement.hash_id do %>
  <div class="row">
    <div class="col-sm-10 custom-flex-center">
      <h6 class="no-margin" style="width: 100%"><%= link_to announcement.title, announcement %></h6>
      <small style="width: 100%">
        Posted <% if logged_in? %>by<% end %>
  
        <%= render 'users/colored_name_link', user: User.find(announcement.user_id) %> 
        <%= distance_of_time_in_words(announcement.created_at.to_time, Time.now) + " ago" %>
        

      </small>
    </div>
  <% if logged_in? %>

    <div class="col-sm-2 custom-flex-center custom-flex-right">
      <div class="options">
        <%= render "shared/admin_buttons", model_name: "announcement", object: announcement,
                                          edit_url: edit_announcement_path(announcement), 
                                          destroy_url: announcement_path(announcement) %>

      </div>
    </div>

  <% end %>
<% end %>

