<% provide(:title, "Announcements") %>
<!--

LOGIC FOR REMOVAL: If we aren't gonna have the button at the empty space, might as well not have the paginate.
From my experience, sites don't usually have a paginate at the top.
Not really needed because if a student is looking for a specific announcement, they would scroll down to the bottom anyways.
- Andy

<div class="row navigation-tools">
  <div class="col-lg-6">
    <%= will_paginate @announcements %>
  </div>
  <div class="col-lg-6">
    <% if logged_in? %>
      <%= link_to ("New Announcement").html_safe, new_announcement_path, class: "btn btn-sm btn-success float-right"%>
    <% end %>
  </div>
</div>
-->
<div class="card">
  <div class="card-header blue darken-3 white-text">
    <div class="float-left">
      <!--
      <h4 style="margin-bottom: 0px; cursor: pointer;">
        <select id="lmao" style="cursor: pointer; outline: none;">
            <option value="hide">All Announcements</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
        <i class="fas fa-sort-down" style="position: relative; top: -4px;"></i>
      </h4>
      -->
      <div id="dd" class="wrapper-dropdown-1" tabindex="1">
        <h4 id="dropdown-title" style="cursor: pointer;" class="card-title noselect ">
          Announcements - <span id="filter">All</span>
          <i id="sort-icon" class="fas fa-caret-down fa-sm"></i>
        </h4>
        <div class="dropdown card card-body">
            <li>All</a></li>
            <li>Pending</a></li>
            <li>Approved</a></li>
            <li>Rejected</a></li>
            <li>My Class</a></li>
        </div>
      </div>

      <!-- <%= render 'shared/filter_dropdown.html.erb', path: announcements_path, timed: false %> -->
    </div>
    <div class="float-right">
      <%= link_to ("New Announcement").html_safe, new_announcement_path, class: "btn btn-sm btn-info"%>
    </div>
  </div>
  <div class="card-body" style="padding: 0px;">
    <ul class="list-group list-group-flush">
      <%= render @announcements %>
    </ul>
  </div>
</div>
<script>
var dropdown = document.getElementById("dd").getElementsByClassName("dropdown")[0];
var icon = document.getElementById("sort-icon");
var filters = dropdown.getElementsByTagName("li");

pageLoad();

for(var i = 0; i < filters.length; i++) {
  filters[i].onclick = function() {
    document.getElementById("filter").innerHTML = this.innerText;
    dropdown.style.display = "none";
    icon.className = "fas fa-caret-down fa-sm"
    pageLoad();
  }
}

function pageLoad() {
  document.onmouseup = function(e) {
    var dropdown_rect = dropdown.getBoundingClientRect();
    var title_rect = document.getElementById("dropdown-title").getBoundingClientRect();
    var mouseX = e.clientX;
    var mouseY = e.clientY;
    if(mouseY > title_rect.top && mouseY < title_rect.bottom && mouseX > title_rect.left && mouseX < title_rect.right) {
      if(window.getComputedStyle(dropdown).getPropertyValue("display") == "none") {
        dropdown.style.display = "block";
        icon.className = "fas fa-caret-up fa-sm"
      } else if(window.getComputedStyle(dropdown).getPropertyValue("display") == "block"){
        dropdown.style.display = "none";
        icon.className = "fas fa-caret-down fa-sm"
      }
    } else if(mouseY < dropdown_rect.top || mouseY > dropdown_rect.bottom || mouseX < dropdown_rect.left || mouseX > dropdown_rect.right) {
      if(window.getComputedStyle(dropdown).getPropertyValue("display") == "block") {
        dropdown.style.display = "none";
        icon.className = "fas fa-caret-down fa-sm"
      }
    }
  }
  document.getElementById("dd").getElementsByClassName("dropdown")[0].style.width = document.getElementById("dd").offsetWidth + 20 + "px";
}

</script>
<%= will_paginate @announcements %>
