<% provide(:title, "Announcements") %>
<!--

LOGIC FOR REMOVAL: If we aren't gonna have the button at the empty space, might as well not have the paginate.
From my experience, sites don't usually have a paginate at the top.
Not really needed because if a student is looking for a specific announcement, they would scroll down to the bottom anyways.
- Andy

<div class="row navigation-tools">
  <div class="col-lg-6">
    <%= will_paginate @announcements %>
  </div>
  <div class="col-lg-6">
    <% if logged_in? %>
      <%= link_to ("New Announcement").html_safe, new_announcement_path, class: "btn btn-sm btn-success float-right"%>
    <% end %>
  </div>
</div>
-->
<div class="card">
  <div class="card-header blue darken-3 white-text">
    <div class="float-left">
      <h4 class="card-title">
        Announcements
      </h4>
    </div>
    <div class="float-right">
      <%= link_to ("New Announcement").html_safe, new_announcement_path, class: "btn btn-sm btn-info"%>
    </div>
  </div>
  <div class="card-body" style="padding: 0px;">
    <ul class="list-group list-group-flush">
      <%= render @announcements %>
    </ul>
  </div>
</div>

<%= will_paginate @announcements %>
