<% provide :title, "PLC" %>
<% letters = %w{A B C D E F} %>
<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title">
          Peer Learning Center

          <small id="subject-name"></small>

        </h3>
      </div>
      <div class="card-body" style="padding: 0px">
        <table class="plc-table">
          <tr class="plc-row">
            <td class="plc-cell narrow plc-header"></td>
            <% 6.times do |col| %>
              <td class="plc-cell plc-header"><%= letters[col] %></td>
            <% end %>
          </tr>
          <% 8.times do |row| %>
            <tr class="plc-row <% if row.even? %> odd <% end %>">

            <td class="plc-cell narrow"><%= human_time row %></td>
              <% 6.times do |col| %>
                <%= content_tag(:td, "", class: "plc-cell timeslot " + (row == 7? " last":""), id: "cell-#{col}-#{row}") %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header blue darken-3 white-text" style="padding-left: 12px;" id="test">
        <h3 class="card-title">
          Select Subject
        </h3>
      </div>
      <div class="card-body" style="padding: 0px;">
        <div class="plc-list" id="list">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var arr = [];
  $.ajax({
    type: 'GET',
    url: '/plc/subject',
    success: function(data, textStatus, jqXHR) {
      arr = data;
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log("banans")
      console.log(errorThrown)
    }
  })
  $('#list').html("");
  <% @subjects.each do |sub| %>
      $('#list').append($('<a></a>')
          .append($('<div></div>')
              .attr('class', 'plc-list-item list-group-item-action plc-subject')
              .html("<%= sub.name %>")
              .attr('id', '<%= sub.hash_id %>'))
          .click(function() {
            $('.timeslot').attr('class', 'plc-cell timeslot')
            $('.plc-subject').attr('class', 'plc-list-item list-group-item-action plc-subject')
            $('#' + "<%= sub.hash_id %>" ).addClass('selected')
            $('#subject-name').html("<%=sub.name%>");
            for (var i = 0; i < arr[arrNum("<%= sub.hash_id %>")].timeslots.length; i++) {
              highlight(arr[arrNum("<%= sub.hash_id %>")].timeslots[i][0], arr[arrNum("<%= sub.hash_id %>")].timeslots[i][1])
            }
            console.log(arr)
          }))
  <% end %>

  function highlight(col, row) {
    $('#cell-' + col + "-" + row).addClass('highlighted')
  }

  function arrNum(id) {
    for(var i = 0; i < arr.length; i++) {
      if(arr[i].hash_id == id) {
        return i;
      }
    }
  }
/*
  document.getElementById("list").onscroll = function() {
    if(document.getElementById("list").scrollTop != 0) {
      document.getElementById("test").className = "card-header blue darken-3 white-text z-depth-1"
    }
  }
*/
</script>
