
<!-- parameters: "url", "submit_text" -->
<%= form_for(@user, url: url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :biography %>
    <%= f.text_area :biography, class: "form-control" %>
  </div>
  <br>
  <%= f.submit submit_text, class: "btn btn-primary" %>
<%end%>
