<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h2 class="lato-title"><%= render 'users/colored_name', user: @user %></h2>
        <%= render 'users/badges', user: @user %>
        <div class="row">
          <div class="col-lg-11">
            <h3 style="margin-bottom: 0px;"><small class="text-muted"><%= @user.email %></small></h3>
          </div>
          <div class="col-lg-1 custom-flex-bottom custom-flex-right">
            <!--
              Here lies the grave of the edit user bio button...
              R.I.P 2018-2018
            -->
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-8">
            <% unless @user.biography.blank? %>
              <div class="card card-body">
                <h4>Biography</h4>
                <hr style="margin-top: 0px">
                <%= markdown(@user.biography) %>
              </div>
            <% end %>
          </div>
        </div>
        <% if logged_in? && current_user.can_do(:admin) %>
          <%= render 'users/roleselect' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
