<% provide(:title, @section.name) %>
<div class="card">
  <div class="card-header blue darken-3 white-text">
    <div class="float-left">
      <h2 class="card-title"><%= @section.name %></h2>
    </div>
    <% if logged_in? %>
      <% if current_user.can_do :admin %>
        <div class="btn-group float-right">
          <%= link_to "Edit", edit_section_path(@section), class: "btn btn-sm btn-warning"%>
          <%= link_to "Delete", section_path(@section), method: :delete, class: "btn btn-sm btn-danger",
                    data: {confirm: "Are you sure you want to do this?"} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <div class="card card-body">
          <h5 class="card-title">Assignments</h5>
          Coming soon!
        </div>
        <div class="card card-body">
          <h5 class="card-title">Class Uploads</h5>
          You guessed it, also coming soon!
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <% unless @section.description.blank? %>
            <%= content_tag :p, markdown(@section.description) %>
          <% end %>
        </div>
        <div class="card card-body">
          <h5 class="card-title">Students:</h5>
          <ul class="mb-0 mt-1">
            <% @section.users.each do |s| %>
              <li><%= s.name%>, <%= s.email %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
