<% if logged_in? && (event.approved  || current_user.can_do(:approve)) && event.start_time > Time.zone.now %>
<% approved = (current_user.can_do(:approve) && !event.approved) ? "grey lighten-3" : "" %>
<% rsvp = event.users.exists?(current_user.id) %>
<% id = event.id %>
  <%= content_tag :li, class: "list-group-item " + approved, id: event.hash_id do %>
    <div class="row">
      <div class="col-md-2 custom-flex-center">
        <span>
          <%= event.start_time.strftime("%b")%>
          <%= event.start_time.strftime("%d")%>,
          <%= event.start_time.strftime("%l:%M %p")%>
        </span>
      </div>
      <% if current_user.can_do(:approve) %>
        <div class="col-md-5 custom-flex-center">
      <% else %>
        <div class="col-md-7 custom-flex-center">
      <% end %>
        <h6 class="no-margin" style="width: 100%"> <%= link_to event.title, event %></h6>
        <small style="width: 100%;">
          Posted by
          <%= render 'users/colored_name_link', user: User.find(event.user_id) %>
          <%= distance_of_time_in_words(event.created_at.to_time, Time.now) + " ago" %>
        </small>
      </div>

      <% if current_user.can_do(:approve) %>
        <div class="col-md-5 custom-flex-center custom-flex-right">
      <% else %>
        <div class="col-md-3 custom-flex-center custom-flex-right">
      <% end %>
      <% if event.approved %>
        <% unless rsvp %>
          <%= content_tag :a, "Not Attending", class: "btn btn-sm btn-outline-blue-grey float-right rsvp", 
          onclick: "rsvp(\"#{event.hash_id}\", true)" %>
        <% else %>
          <%= content_tag :a, "Attending", class: "btn btn-sm btn-outline-success float-right rsvp", 
          onclick: "rsvp(\"#{event.hash_id}\", false)" %>
        <% end %>
      <% end %>
      <% if current_user.can_do(:approve) %>
        <div class="no-link-padding">
          <% unless event.approved %>

            <%= content_tag :a, 
              class: "text-success approve_icon",
              onclick: "approve_event(\"#{event.hash_id}\")",
              id: "approve-" + event.hash_id do %>
              <%= content_tag :i, 
                class: 'far fa-check-square ', 
                style: 'margin-left: 9px; margin-right: -4px' do %>
              <% end %>
            <% end %>

          <% end %>
          <%= link_to ("<i class='far fa-edit' style='margin-left: 9px;'></i>").html_safe, edit_event_path(id: event.id), class: "text-warning" %>
          <%= link_to ("<i class='far fa-trash-alt'></i>").html_safe, event_path(event), method: :delete, class: "text-danger", data: {confirm: "Are you sure you want to do this?"} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% elsif !logged_in? %>
  <% flash.now[:danger] = "Log in to view events!" %>
<% end %>


