<% color = "" %>
<% if logged_in? %>


<% rsvp = event.users.exists?(current_user.id) %>
<% id = event.id %>
  <%= content_tag :li, class: "list-group-item " + get_background_color_for_partial(event), id: event.hash_id do %>
    <div class="row">
      <div class="col-md-2 custom-flex-center">
        <span>
          <%= event.start_time.strftime("%b")%>
          <%= event.start_time.strftime("%d")%>,
          <%= event.start_time.strftime("%l:%M %p")%>
        </span>
      </div>
      <% if current_user.can_do(:approve) %>
        <div class="col-md-5 custom-flex-center">
      <% else %>
        <div class="col-md-7 custom-flex-center">
      <% end %>
        <%= content_tag :h6, class: 'no-margin', style: 'width: 100%' do %>
          <%= link_to event.title, event, class: 'font-italic' if event.past? %>
        <% end %>

        <small style="width: 100%;">
          Posted by
          <%= render 'users/colored_name_link', user: User.find(event.user_id) %>
          <%= distance_of_time_in_words(event.created_at.to_time, Time.now) + " ago" %>
        </small>
      </div>

      <% if current_user.can_do(:approve) %>
        <div class="col-md-5 custom-flex-center custom-flex-right">
      <% else %>
        <div class="col-md-3 custom-flex-center custom-flex-right">
      <% end %>
      <% if event.approved && event.final %>
        <% unless rsvp %>
          <%= content_tag :a, "Not Attending", class: "btn btn-sm btn-outline-blue-grey float-right rsvp",
          onclick: "rsvp(\"#{event.hash_id}\", true)" %>
        <% else %>
          <%= content_tag :a, "Attending", class: "btn btn-sm btn-outline-success float-right rsvp",
          onclick: "rsvp(\"#{event.hash_id}\", false)" %>
        <% end %>
      <% end %>
      
      <div class="options">
        <%= render 'shared/admin_buttons', model_name: 'event', object: event,
                                           edit_url: edit_event_path(event),
                                           destroy_url: event_path(event) %>
      </div>
      
    </div>
  </div>
<% end %>
<% elsif !logged_in? %>
  <% flash.now[:danger] = "Log in to view events!" %>
<% end %>
