<% if logged_in? && (event.approved  || current_user.can_do(:approve)) && event.start_time > Time.zone.now %>
<% approved = (current_user.can_do(:approve) && !event.approved) ? "bg-light" : "" %>
<% rsvp = event.users.exists?(current_user.id) %>
<% id = event.id %>

  <li class="list-group-item no-padding <%= approved %>" id="id">
    <div class="row">
      <div class="col-sm-1" style="margin-top: -8px; max-width: 55px">
        <small><%= event.start_time.strftime("%b")%></small>
        <%= event.start_time.strftime("%d")%>
      </div> 
      <% if current_user.can_do(:approve) %>
        <div class="col-lg-6 col-sm-10 col-xs-4">
      <% else %>
        <div class="col-lg-8">
      <% end %>
        <h6 class="no-margin"><%= event.start_time.strftime("%l:%M %p")%> <%= link_to event.title, event %></h6>
        <small>
          Posted by
          <%= render 'users/colored_name_link', user: User.find(event.user_id) %>
          <%= distance_of_time_in_words(event.created_at.to_time, Time.now) + " ago" %>
        </small>
      </div>
      
      <% if current_user.can_do(:approve) %>
        <div class="col-lg-5">
      <% else %> 
        <div class="col-lg-3 col-xs-12">
      <% end %> 
        <div class="float-right btn-group">
          <% unless rsvp %>
            <%= link_to "Coming", rsvp_event_path(:id => event.id), method: :rsvp, class: "btn btn-sm btn-outline-primary" %>
            <button class="btn btn-sm btn-primary" disabled>Not Coming</button>          
          <% else %>
            <button class="btn btn-sm btn-primary" disabled>Coming</button>
            <%= link_to "Not Coming", unrsvp_event_path(:id => event.id), method: :unrsvp, class: "btn btn-sm btn-outline-primary" %>
          <% end %>
        </div>
        <% if current_user.can_do(:approve) %>
          <div class="float-right">
            <div class="btn-group">
              <% unless event.approved %>
              <%= link_to "Approve", approve_event_path(id: event.id), method: :approve, class: "btn btn-sm btn-success" %>
              <% end %>
              <%= link_to "Edit", edit_event_path(id: event.id), class: "btn btn-sm btn-secondary" %>
              <%= link_to "Remove", event_path(event), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Are you sure you want to do this?"} %>&nbsp;
            </div>
          </div>
        <% end %> 
      
      </div>
    </div>
  </li>
<% elsif !logged_in? %>
  <% flash.now[:danger] = "Log in to view events!" %>
<% end %>
