<li class="list-group-item no-padding">
  <div class="row">
    <div class="col-sm-11">
      <h6 class="no-margin"><%= link_to event.title, event %>  <%= event.start_time.strftime("%A %B %d")%></h6>
      <small>
        Posted by
        <%= render 'users/colored_name_link', user: User.find(event.user_id) %>
        <%= distance_of_time_in_words(event.created_at.to_time, Time.now) + " ago" %>
      </small>

    </div>
  <% if logged_in? %>
    <% if current_user.admin? %>
      <div class="col-sm-1">
        <div class="float-right no-link-padding">
          <%= link_to "Edit", edit_event_path(event), class: "text-warning"%><br>
          <%= link_to "Delete", event_path(event), method: :delete, class: "text-danger",
                  data: {confirm: "Are you sure you want to do this?"} %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</li>
