<% event_dates = [] %>
<% Event.all.finalized.future_day_events.each do |e| event_dates << (e.start_time.strftime("%j").to_s + "-" + e.start_time.strftime("%y").to_s ) end %>
<% event_dates = event_dates.uniq %>
<% unless event_dates.first.nil? %>
  <% first_nonempty_day = DateTime.strptime(event_dates.first, "%j-%y") %>
<% end %>
<% unless event_dates.second.nil? %>
  <% second_nonempty_day = DateTime.strptime(event_dates.second, "%j-%y") %>
<% end %>


<div class="card">
  <div class="card-header blue darken-3 white-text">
    <h4 class="card-title">
      <%= content_tag(:a, "Upcoming Events", href: events_path, class: "text-white")%>
      <i class="fas fa-calendar float-right"></i>
    </h4>
  </div>
    <div class="card-body m-0" style="padding: 0px;">
      <div class="card-group">
        <% if !first_nonempty_day.nil? %>
          <div class="card border-left-0 border-top-0 border-bottom-0">
            <div class="card-header white">
              <h5 class="card-title m-0 event-card-title">
                <%= first_nonempty_day.to_date === Date.today ? "Today" :
                (first_nonempty_day.to_date === Date.tomorrow ? "Tomorrow" :
                first_nonempty_day.strftime("%A, %m/%d")) %>
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <% Event.all.finalized.set_day_events(first_nonempty_day).sample(3).each do |event| %>
                <li class="list-group-item">
                  <%= link_to event.title, event_path(event) %>
                </li>
                <% if Event.all.finalized.set_day_events(first_nonempty_day).count < 3 %>
                  <% if Event.all.finalized.set_day_events(second_nonempty_day).count > 1 %>
                    <li class="list-group-item"><%= link_to "See your events here!", new_event_path %></li>
                  <% end %>
                  <% if Event.all.finalized.set_day_events(second_nonempty_day).count > 2 %>
                    <li class="list-group-item"><%= link_to "Or here!", new_event_path %></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
          <% if !second_nonempty_day.nil? %>
            <div class="card border-0">
              <div class="card-header white">
                <h5 class="card-title m-0 event-card-title">
                  <%= second_nonempty_day.to_date === Date.tomorrow ? "Tomorrow" :
                  second_nonempty_day.strftime("%A, %m/%d") %>
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <% Event.all.finalized.set_day_events(second_nonempty_day).sample(3).each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
                <% if Event.all.finalized.set_day_events(second_nonempty_day).count < 3 %>
                  <% if Event.all.finalized.set_day_events(first_nonempty_day).count > 1 %>
                    <li class="list-group-item"><%= link_to "See your events here!", new_event_path %></li>
                  <% end %>
                  <% if Event.all.finalized.set_day_events(first_nonempty_day).count > 2 %>
                    <li class="list-group-item"><%= link_to "Or here!", new_event_path %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% else %>
          <div class="card border-0">
            <div class="card-header white">
              <h5 class="card-title m-0 event-card-title">That's all the events.</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= link_to "See your events here!", new_event_path %></li>
              <% if Event.all.finalized.set_day_events(first_nonempty_day).count > 1 %>
                <li class="list-group-item"><%= link_to "Or here!", new_event_path %></li>
              <% end %>
              <% if Event.all.finalized.set_day_events(first_nonempty_day).count > 2 %>
                <li class="list-group-item"><%= link_to "Or here!", new_event_path %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
        <div class="card-footer white">
          <%= link_to "See more...", events_path %>
        </div>
      <% else %>
        </div>
        <div class="card-footer white">
          <%= link_to "See your events here!", new_event_path %>
        </div>
      <% end %>
    </div>
  </div>
