<div class="card">
  <div class="card-header blue darken-3 white-text">
    <h4 class="card-title">
      <%= content_tag(:a, "Upcoming Events", href: events_path, class: "text-white")%>
      <i class="fas fa-calendar float-right"></i>
    </h4>
  </div>
  <div class="card-body m-0" style="padding: 0px;">
    <% if !!@first_nonempty_day %>
      <div class="card-group">
        <div class="card border-left-0 border-top-0 border-bottom-0">
          <div class="card-header white">
            <h5 class="card-title m-0 event-card-title">
              <%= @first_nonempty_day.to_date === Date.today ? "Today" :
              (@first_nonempty_day.to_date === Date.tomorrow ? "Tomorrow" :
              @first_nonempty_day.strftime("%A, %m/%d")) %>
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <% @first_day_events.each do |event| %>
              <li class="list-group-item">
                <%= event.start_time.strftime('%I:%M %p') %> - <%= link_to event.title, event_path(event) %>
              </li>
            <% end %>
          </ul>
        </div>
        <% unless @second_nonempty_day.nil? %>
          <div class="card border-0">
            <div class="card-header white">
              <h5 class="card-title m-0 event-card-title">
                <%= @second_nonempty_day.to_date === Date.tomorrow ? "Tomorrow" :
                @second_nonempty_day.strftime("%A, %m/%d") %>
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <% @second_day_events.each do |event| %>
                <li class="list-group-item">
                  <%= event.start_time.strftime('%I:%M %p') %> - <%= link_to event.title, event_path(event) %>
                </li>

              <% end %>
            </ul>
          </div>
        <% else %>
          <div class="card border-0">
            <div class="card-header white">
              <h5 class="card-title event-card-title">
                No More Events
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= link_to "Create your own?", new_event_path %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="card-footer white">
        <%= link_to "See more...", events_path %>
      </div> 
    <% else %>
      <div class="card-body">
        <h5 class="card-title">Nothing Here Yet...</h5>
        <%= link_to "Create your own event?", new_event_path %>
      </div>
    <% end %>
  </div>
</div>
