<% provide(:title, @event.title) %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <%= content_tag :div, class: "card-body " + get_background_color_for_partial(@event) do %>
        <div>
          <!--
          <div class="row navigation-tools">
            <div class="col-lg-12">
              <div class="float-left">
                <%= link_to "Back", :back, class: "btn btn-sm btn-outline-blue-grey darken-3 navigation-tools-back" %>
              </div>
              <%= render "shared/scroll", object: @event %>
            </div>
          </div>
          -->
          <h2 class="lato-title"><%= @event.title %></h2>
          <small>
            Created by
          <%= render 'users/colored_name_link', user: User.find(@event.user_id) %>
          </small>
          <%= render 'users/badges', user: User.find(@event.user_id) %>
          <small>
            <%= distance_of_time_in_words(@event.created_at.to_time, Time.now) %>
            ago<% if @event.updated_at != @event.created_at %>,
            Last updated <%= distance_of_time_in_words(@event.updated_at.to_time, Time.now) %> ago
            <% end %>

          </small>

          <div class="options float-right">
            <%= render 'reports/new_report_popover' %>
            <%= render 'shared/admin_buttons', model_name: 'event', object: @event,
                                               edit_url: edit_event_path(@event),
                                               destroy_url: event_path(@event) %>
          </div>
        </div>
        <hr />
        <div>
          <b>Location:</b> <%= @event.location %>
          <br>
          <br>
          <% unless @event.start_time.to_date == @event.end_time.to_date %>
            <%=  @event.start_time.strftime("%A %B %d, %I:%M %p") %> — <%=  @event.end_time.strftime("%A %B %d, %I:%M %p") %><br>
          <% else %>
            <%= @event.start_time.strftime("%A %B %d, %I:%M %p") %> - <%= @event.end_time.strftime("%I:%M %p")%><br>
          <% end %>

          <br>
          <%= markdown @event.description %>

          <% unless @event.club.nil? %>
            Sponsored by <%= link_to @event.club.name, @event.club %>
          <% end %>
          <br><br>

        </div>

          <% if logged_in? %>
            <div class="btn-group">
              <% unless @event.users.exists?(current_user.id) %>
                <%= link_to "Not Attending", rsvp_event_path(id: @event.id, redirect: true), method: :post, class: "btn btn-sm btn-outline-blue-grey float-right" %>
              <% else %>
                <%= link_to "Attending", unrsvp_event_path(id: @event.id, redirect: true), method: :post, class: "btn btn-sm btn-outline-success float-right" %>
              <% end %>
            </div>
          <% end %>
          <% if (@event.user_id == current_user.id || current_user.can_do(:approve)) && !@event.users.empty? %>
            <h6><br>Current attendees: <%= @event.users.all.count %></h6>
            <ul>
              <% @event.users.each do |attendee| %>
                <li><%= attendee.email %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(".model-action").on('click', function() {
    console.log('click')
    setTimeout(function() {
      location.reload(true) 
    }, 200)
  })
</script>
