<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-7">
    <%= render 'shared/model_ataglance',  path: announcements_path,
                                          count: 5,
                                          variable: @announcements %>

    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title"><i class="fas fa-book"></i>Peer Learning Center</h3>
      </div>
      <div class="card-body">
        <p style="margin-bottom: 1px">Need help with school? No stress! Come get help from your friends in</p>
        <% @subjects.each do |subject| %>
          <%= link_to subject.name, plc_path(subject: subject.hash_id) %>,
        <% end %>and <%= link_to "many more!", plc_path %>
        <p>(NOTE: maybe rephrase stuff, like general overview of plc, since theres a designated button now)</p>
        <%= button_to "View PLC Schedule", plc_path, :method => "get", class: "btn btn-primary btn-block waves-effect btn-sm" %>
      </div>
    </div>


    <div class="card bg-light text-secondary">
      <div class="card-body">
        <h2 style="margin-bottom: 0px">Our Blog</h2>
        <em>Coming Soon</em>
      </div>
    </div>

  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title"><i class="fas fa-info-circle"></i>Information</h3>
      </div>
      <div class="card-body">
        <p class="lead">
          Welcome to the Punahou Student Hub.
          <br>We're glad you're here.
        </p>
        <p>
          We only have a few features right now, but soon we'll have more. Feel free to explore, and shoot us an email if you have any ideas or find any bugs- this is a work in progress, and we appreciate your help.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title"><i class="fas fa-sliders-h"></i>Settings</h3>
      </div>
      <div class="card-body">
        <%= render 'filters/filter_settings' %>
      </div>
    </div>
  </div>
</div>
