<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-7">
    <%= render 'shared/model_ataglance',  path: announcements_path,
                                          display_name: 'Announcements',
                                          count: 5,
                                          variable: @announcements %>



    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <!-- put the events icon here-->
        <h4 class="card-title">
          <%= content_tag(:a, "Events", href: events_path, class: "text-white")%>
          <i class="fas fa-calendar float-right"></i>
        </h4>
      </div>
      <% if logged_in? %>
        <div class="card-body m-0" style="padding: 0px;">
          <div class="card-group">
            <div class="card border-left-0 border-top-0 border-bottom-0">
              <div class="card-header white">
                <h5 class="card-title m-0 event-card-title">Today</h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @today.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="card border-0">
              <div class="card-header white">
                <h5 class="card-title m-0 event-card-title">Tomorrow</h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @tomorrow.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer white">
            <%= link_to "See more...", events_path %>
          </div>
        </div>
      <% else %>
        <p class="card-text"><%= link_to "Log In", "/auth/google_oauth2" %> to view events</p>
      <% end %>
    </div>


    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h4 class="card-title">
          <%= content_tag(:a, "Peer Learning Center", href: plc_path, class: "text-white") %>
          <i class="fas fa-book float-right"></i></h4>

      </div>
        <div class="card-body skinny-top">
          <!--p class="lead" style="margin-bottom: 1px">Need help with school? No stress!</p-->
          <p class="no-margin">Come get help with...</p>
          <ul class="no-margin">
            <% @subjects.each do |subject| %>
              <li><%= link_to subject.name, plc_path(subject: subject.hash_id) %></li>
            <% end %>
            <li>and <%= link_to "many more!", plc_path %></li>
          </ul>
        </div>
    </div>



  </div>

  <div class="col-md-5">

    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h4 class="card-title">Information<i class="fas fa-info-circle float-right"></i></h4>
      </div>
      <div class="card-body">
        <p class="lead text-muted" style="margin-bottom: 0px">
          <% time = Time.now.getlocal('-10:00') %>
          <%= Time.now.getlocal('-10:00').strftime("%A, %B %e") %>
          <% if SchoolDay.find_by_date(time.to_date) %>
            <%= "(#{SchoolDay.find_by_date(time.to_date).cycle_day.letter})" %>
          <% end %>
        </p>
        <hr style="margin: 5px">
        <p class="lead">
          Welcome to the Punahou Student Hub.
        </p>
        <p class="no-margin">
          This site is currently in open beta. Please leave feedback and bug reports <%= link_to "here.", feedback_path %> Thanks, and enjoy!
        </p>
      </div>
    </div>


    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h4 class="card-title">
          <%= content_tag(:a, "Our Blog", href: blog_index_path, class: "text-white")%>
          <i class="fas fa-pencil-alt float-right"></i>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <% @blogposts.each do |post| %>
          <li class="no-padding list-group-item">
            <h6 class="no-margin"><%= link_to post.title, blog_index_url + "##{post.hash_id}" %></h6>
            <small>
              Posted by
              <%= render 'users/colored_name_link', user: User.find(post.user_id) %>
              <%= distance_of_time_in_words(post.created_at.to_time, Time.now) + " ago" %>

            </small>
          </li>
        <% end %>
      </ul>
      <div class="card-body see-more-section">
        <%= link_to "See more...", blog_index_path %>

      </div>
    </div>

    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h4 class="card-title">
          <%= link_to "Clubs", clubs_path, class: "text-white" %>
          <i class="fas fa-users float-right"></i>
        </h4>
      </div>
      <div class="card-body skinny-top">
        <p class="no-margin lead">
          Check out some of our amazing clubs!
        </p>
        <ul>
          <% @clubs.each do |club| %>
            <li><%= link_to club.name, club %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
