<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-7">
    <%= render 'shared/model_ataglance',  path: announcements_path,
                                          display_name: 'Announcements',
                                          count: 5,
                                          variable: @announcements %>
    <div class="card">
      <h2 class="card-header bg-white">
        <%= link_to "Upcoming Events", events_path, class: "text-dark" %>
      </h2>
      <div class="card-body skinny-top p-1 m-1">
        <div class="card m-0">
          <div class="card-group">
            <div class="card border-left-0 border-top-0 border-bottom-0">
              <div class="card-header">
                <h5 class="card-title m-0">Today</h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @today.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="card border-left-0 border-top-0 border-bottom-0">
              <div class="card-header">
                <h5 class="card-title m-0">Tomorrow</h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @tomorrow.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="card border-0">
              <div class="card-header">
                <h5 class="card-title m-0"><%= 2.days.from_now.strftime("%A") %></h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @day_after_tomorrow.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "See more...", events_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h2 class="card-header bg-white">
        <%= link_to "Peer Learning Center", plc_path, class: "text-dark" %>
      </h2>
      <div class="card-body skinny-top">
        <!--p class="lead" style="margin-bottom: 1px">Need help with school? No stress!</p-->
        <p class="no-margin">Come get help with...</p>
        <ul class="no-margin">
          <% @subjects.each do |subject| %>
            <li><%= link_to subject.name, plc_path(subject: subject.hash_id) %></li>
          <% end %>
          <li>and <%= link_to "many more!", plc_path %></li>
        </ul>

      </div>
    </div>


    <div class="card bg-light text-secondary">
      <div class="card-body">
        <h2 style="margin-bottom: 0px">Our Blog</h2>
        <em>Coming Soon</em>
      </div>
    </div>

  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h2>Information</h2>
        <p class="lead">
          Welcome to the Punahou Student Hub.
          <br>We're glad you're here.
        </p>
        <p>
          We only have a few features right now, but soon we'll have more. Feel free to explore, and shoot us an email if you have any ideas or find any bugs- this is a work in progress, and we appreciate your help.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h2>Settings</h2>
        <%= render 'filters/filter_settings' %>
      </div>
    </div>
  </div>
</div>
