<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-7">
    <%= render 'shared/model_ataglance',  path: announcements_path,
                                          display_name: 'Announcements',
                                          count: 5,
                                          variable: @announcements %>



    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <!-- put the events icon here-->
        <h3 class="card-title">
          <%= content_tag(:a, "Events", href: events_path, class: "text-white")%>
          <i class="fas fa-calendar float-right"></i></h3>
      </div>
      <div class="card-body skinny-top p-1 m-1">
        <div class="card m-0">
          <div class="card-group">
            <div class="card border-left-0 border-top-0 border-bottom-0">
              <div class="card-header">
                <h5 class="card-title m-0">Today</h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @today.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="card border-left-0 border-top-0 border-bottom-0">
              <div class="card-header">
                <h5 class="card-title m-0">Tomorrow</h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @tomorrow.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="card border-0">
              <div class="card-header">
                <h5 class="card-title m-0"><%= 2.days.from_now.strftime("%A") %></h5>
              </div>
              <ul class="list-group list-group-flush">
                <% @day_after_tomorrow.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "See more...", events_path %>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title">
          <%= content_tag(:a, "Peer Learning Center", href: plc_path, class: "text-white") %> 
          <i class="fas fa-book float-right"></i></h3>

      </div>
      <div class="card-body skinny-top">
        <!--p class="lead" style="margin-bottom: 1px">Need help with school? No stress!</p-->
        <p class="no-margin">Come get help with...</p>
        <ul class="no-margin">
          <% @subjects.each do |subject| %>
            <li><%= link_to subject.name, plc_path(subject: subject.hash_id) %></li>
          <% end %>
          <li>and <%= link_to "many more!", plc_path %></li>
        </ul>

      </div>
    </div>

  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title">Information<i class="fas fa-info-circle float-right"></i></h3>
      </div>
      <div class="card-body">
        <p class="lead">
          Welcome to the Punahou Student Hub.
        </p>
        <p>
          This site is currently in open beta. Please leave feedback and bug reports <%= link_to "here.", feedback_path %> Thanks, and enjoy!
        </p>
      </div>
    </div>
    

    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h3 class="card-title">
          <%= content_tag(:a, "Our Blog", href: blog_index_path, class: "text-white")%>
          <i class="fas fa-pencil-alt float-right"></i>
        </h3>
      </div>
      <ul class="list-group list-group-flush">
        <% @blogposts.each do |post| %>
          <li class="no-padding list-group-item">
            <h6 class="no-margin"><%= link_to post.title, blog_index_url + "##{post.hash_id}" %></h6>
            <small>
              Posted by
              <%= render 'users/colored_name_link', user: User.find(post.user_id) %>
              <%= distance_of_time_in_words(post.created_at.to_time, Time.now) + " ago" %>

            </small>
          </li>
        <% end %>
      </ul>
      <div class="card-body see-more-section">
        <%= link_to "See more...", blog_index_path %>
          
      </div>
  </div>
</div>
