<%= form_for(@event, url: url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :order => [:month, :day, :year, :hour, :minute] %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :order => [:month, :day, :year, :hour, :minute] %>
  </div>

  <% unless url.nil? %>
    <% if current_user.leaderships.any? %>
      <div class="form-group">
        <label style="margin-bottom: 0px">Club</label>
        <%= f.collection_check_boxes(:club, clubs, :id, :name) do |club| %>
          <div class="custom-control custom-radio">
            <%= club.check_box(class: "custom-control-input checkbox") %>
            <%= club.label(class: "custom-control-label") %>
          </div>
        <% end %>
        <script>
          $('.checkbox').on('change', function() {
            $('.checkbox').not(this).prop('checked', false);  
        });
        </script>
      </div>
    <% end %>
  <% end %>
  <% if submit_text == "Post" || submit_text == "Submit for Approval" %>
    <%= link_to submit_text, "", :onclick => "$('#new_event').submit()", class: "btn btn-info btn-block" %>
  <% elsif submit_text == "Save Edits"%>
    <%= link_to submit_text, "", :onclick => "$('.edit_event')[0].submit()", class: "btn btn-warning btn-block" %>
  <% end %>
<% end %>
