<%= form_for(@event, url: url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :start_time %>
          <input id="start_time" placeholder="Date & Time.." class="form-control" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :end_time %>
          <input id="end_time" placeholder="Date & Time.." class="form-control" />
        </div>
      </div>


      <script type="text/javascript">
          $("#start_time").flatpickr({
            altInput: true,
            altFormat: "F j, Y H:i",
            enableTime: true,
            dateFormat: "M-d-y H:i",
          });
          $("#end_time").flatpickr({
            altInput: true,
            altFormat: "F j, Y H:i",
            enableTime: true,
            dateFormat: "M-d-y H:i",
          });



          $("#new_event").submit(function() {
            var params = [
              {
                name: "start",
                value: $("#start_time").val()
              },
              {
                name: "end",
                value: $("#end_time").val()
              }
            ]

            $.each(params, function(i, param) {
              $('<input />').attr('type', 'hidden')
                .attr('name', param.name)
                .attr('value', param.value)
                .appendTo("#new_event");
            })
            return true;
          })
      </script>
  </div>

  <% unless url.nil? %>
    <% if current_user.leaderships.any? %>
      <div class="form-group">
        <label style="margin-bottom: 0px">Club</label>
        <%= f.collection_check_boxes(:club, clubs, :id, :name) do |club| %>
          <div class="custom-control custom-radio">
            <%= club.check_box(class: "custom-control-input checkbox") %>
            <%= club.label(class: "custom-control-label") %>
          </div>
        <% end %>
        <script>
          $('.checkbox').on('change', function() {
            $('.checkbox').not(this).prop('checked', false);
        });
        </script>
      </div>
    <% end %>
  <% end %>
  <% if submit_text == "Post" || submit_text == "Submit for Approval" %>
    <%= link_to submit_text, "", :onclick => "$('#new_event').submit()", class: "btn blue darken-3 btn-block white-text" %>
  <% elsif submit_text == "Save Edits"%>
    <%= link_to submit_text, "", :onclick => "$('.edit_event')[0].submit()", class: "btn btn-warning btn-block" %>
  <% end %>
<% end %>
