<%= form_for(@event, url: url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :order => [:month, :day, :year, :hour, :minute] %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :order => [:month, :day, :year, :hour, :minute] %>
  </div>

  <% unless url.nil? %>
    <% if current_user.leaderships.any? %>
      <div class="form-group">
        <label style="margin-bottom: 0px">Club</label>
        <%= f.collection_radio_buttons(:club, clubs, :id, :name) do |club| %>
          <div class="custom-control custom-radio">
            <%= club.radio_button(class: "custom-control-input") %>
            <%= club.label(class: "custom-control-label") %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if submit_text == "Post" || submit_text == "Send to purgatory" %>
    <%= link_to submit_text, "", :onclick => "$('#new_event').submit()", class: "btn btn-info btn-block waves-effect" %>
  <% elsif submit_text == "Save Edits"%>
    <%= link_to submit_text, "", :onclick => "$('.edit_event')[0].submit()", class: "btn btn-warning btn-block waves-effect" %>
  <% end %>
<% end %>
