<!-- (^._.^)~ -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
  <%= link_to "Punahou Student Hub", "/", class: 'navbar-brand', style: "color: #1565c0;font-size: 25px;" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <% pages =  %w{Home Announcements PLC Events Clubs} %>
    <% if logged_in? %>
      <% pages.insert(1, 'My Stuff') %>
    <% end %>
    <ul class="navbar-nav">
      <% pages.each do |name| %>
        <% if name == "Home" %>
          <%= link_to name, href="/", class: navbar_current?(name, yield(:title)) %>
        <% elsif name == "My Stuff" %>
          <%= link_to name, href="/mystuff", class: navbar_current?(name, yield(:title)) %>
        <% else %>
          <%= link_to name, href="/" + name.downcase, class: navbar_current?(name, yield(:title)) %>
        <% end %>
      <% end %>

    </ul>
    <% if logged_in? %>
    <ul class="navbar-nav ml-auto">
      <% if current_user.can_do(:approve) %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link nav-item dropdown-toggle" id="admin-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu" aria-labelledby="admin-dropdown">
            <%= link_to "Reports", reports_path, class: 'dropdown-item' %>
            <%= link_to "User List", users_path, class: 'dropdown-item' %>
            <% if current_user.can_do(:admin) %>
              <%= link_to "Moderation Log", modlog_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href='#' id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" aria-labelledby="user-dropdown">
          <%= link_to "Profile", current_user, class: 'dropdown-item' %>
          <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log Out", logout_path, method: :delete, class: 'dropdown-item' %>

        </div>
      </li>

    </ul>
    <% else %>
      <%= link_to "Log In", "/auth/google_oauth2", class: "nav-item nav-link ml-auto" %>
    <% end %>
  </div>
  </div>
</nav>
