<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
  <%= link_to "Punahou Student Hub", "/", class: 'navbar-brand', style: "color: #1565c0;font-size: 25px;" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <% pages =  %w{Home Announcements PLC Events Contact} %>
    <% if logged_in? %>
      <% pages << 'Users' if current_user.can_do :approve %>
    <% end %>
    <ul class="navbar-nav">
      <% pages.each do |name| %>
        <% unless name == "Home" %>
          <%= link_to name, href="/" + name.downcase, class: navbar_current?(name, yield(:title)) %>
        <% else %>
          <%= link_to name, href="/", class: navbar_current?(name, yield(:title)) %>
        <% end %>
      <% end %>
    </ul>
    <% if logged_in? %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href='#' id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" aria-labelledby="user-dropdown">
          <%= link_to "Profile", current_user, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log Out", logout_path, method: :delete, class: 'dropdown-item' %>

        </div>
      </li>
      
    </ul>
    <% else %>
      <%= link_to "Log In", "/auth/google_oauth2", class: "nav-item nav-link ml-auto" %>
    <% end %>
  </div>
  </div>
</nav>
